.table-title{
    justify-content: space-between;
}

.text-md{
    font-size: 1rem;
}

.form-textarea{
    width: 100%;
}

.modal-body{
    padding: 1rem 2rem;
    overflow-y: auto;
    height: 80vh;
}

.buttons-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.login-container{
    display: flex;
    height: 100vh;
    align-items: center;
}

.logo-container{
    height: 40%;
    width: 40%;
}

.card-header{
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.login-logo{
    max-height: 100%;
    max-width: 100%;
}

.login-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 60%;
}

@media (max-width: 575.98px) {
    .login-form{
    width: 100%;
    }
}

.react-tel-input .form-control{
    width: 100%
}

.login-actions{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-actions a {
    padding: 15px 0;
}

.error-message{
    color: red;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.actions-col{
    display: flex;
    justify-content: space-evenly;
}

.actions-col svg{
    cursor: pointer;
}

.spinner-overlay{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-container{
    display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }