[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.6rem 46px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
  }
  .contanier{
    display: flex;
    flex-direction: row;
  }
  .download-text{
      margin: 12px;
  }
    
  
    
  
    
    
  